<div class="panel panel-primary">
    <div class="panel-heading">Konto</div>
    <table class="table" style="font-size: smaller;">
        <tr>
            <td>Zalogowany:</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
        </tr>
        <tr>
            <td>Kredyty:</td>
            <td>{{ user.client.credits }}</td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th colspan="3">
                Subskrypcje:
            </th>
        </tr>
        {% for sub in user.client.current_subscriptions %}
            <tr>
                <td>{{ sub.subscription.name }}</td>
                <td>{{ sub.subscription.end|date:"Y-m-d" }}</td>
                <td>{{ sub.subscription.credits }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Brak wykupionych subskrypcji</td>
            </tr>
        {% endfor %}
    </table>
    <div class="panel-body">
        <a href="{% url 'user:Logout' %}" class="btn btn-primary btn-xs">Wyloguj</a>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Wypożyczone książki</div>
    <table class="table" style="font-size: smaller;">
        <thead>
        <tr>
            <th>Tytuł</th>
            <td>Data</td>
            <th>Koszt</th>
        </tr>
        </thead>
        {% for l in user.client.active_loans %}
            <tr>
                <td>{{ l.book.title }}</td>
                <td>{{ l.date|date:"Y-m-d" }}</td>
                <td>{{ l.current_fee }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Brak wypożyczonych książek</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% if user.client.active_reservations %}
<div class="panel panel-primary">
    <div class="panel-heading">Rezerwacje</div>
    <table class="table" style="font-size: smaller;">
        <thead>
        <tr>
            <th>Tytuł</th>
            <td>Data</td>
        </tr>
        </thead>
        {% for l in user.client.active_reservations %}
            <tr>
                <td>{{ l.title }}</td>
                <td>{{ l.date|date:"Y-m-d" }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}